{% extends 'base.html.twig' %}

{% block title %}Liste des régions{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des régions</h1>
    <div class="row">
        <div class="col-md-3">
            {% for maRegion in mesRegions %}
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">{{ maRegion.code }}</div>
                        <div class="card-body">
                            <h4 class="card-title">{{ maRegion.nom }}</h4>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
